*{margin: 0px; padding: 0px;}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

body{font-family: "Lato", sans-serif; font-size: 14px;}

.bg-green{background: #008900;}

@media (min-width: 1300px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }
}

::-webkit-scrollbar{width: 8px !important; height: 8px !important;}
::-webkit-scrollbar-thumb{background: #ccc !important;}
::-webkit-scrollbar-track{background: transparent !important;}

.headerFill{border-bottom: 1px solid rgba(0,0,0,0.1);}

.headerFill .top-strip{padding: 8px 0px;}
.headerFill .top-strip p{color: #fff; font-size: 12px; font-weight: 500;}

.headerFill .header{width: 100%; height: auto; padding: 20px 0px;}
.logoFill img{width: 90%; margin-left: 12px;}

.headerFill .header .part2 .placeDrop{width: 170px; height: 60px; min-width: 170px; color: #000 !important; border: 1px solid rgba(0,0,0,0.10) !important; border-radius: 7px !important; padding: 10px 15px !important;}
.headerFill .header .part2 .placeDrop{text-align: left; justify-content: flex-start !important;}
.headerFill .header .part2 .placeDrop  .label{font-size: 12px !important; text-transform: capitalize !important; color: rgba(0,0,0,0.4) !important; line-height: 16px;}
.headerFill .header .part2 .placeDrop  .name{font-size: 14px !important; text-transform: capitalize !important; color: #333ad8 !important; font-weight: 700; line-height: 16px;}

.headerFill .header .part2 .placeDrop span.ml-auto svg{opacity: 0.7;}

.headerSearch{width: 60%; height: 50px; background: #f4f4f4; padding: 5px; position: relative; border-radius: 5px; border: 1px solid rgba(0,0,0,0.05);}
.headerSearch input{background: transparent !important; outline: none !important; font-size: 15px; color: rgba(0,0,0,0.8); width: 100%; height: 37px; border: 0px !important; padding: 0px 20px;}

.headerSearch input::-webkit-input-placeholder{color: rgba(0,0,0,0.4);}

.headerSearch button{position: absolute; top: 5px; right: 10px; z-index: 100; min-width: 40px !important; height: 40px !important; width: 40px !important; border-radius: 50% !important; color: #000;}
.headerSearch button svg{font-size: 20px; opacity: 0.7;}


header .part3 .circle{align-items: center; justify-content: center; min-width: 45px !important; height: 45px !important; width: 45px !important; border-radius: 50% !important; border: 1px solid rgba(0,0,0,0.1) !important; color: #000;}
header .part3 .circle svg{font-size: 20px;}


.cartTotal .price{font-size: 16px; color: rgba(0,0,0,0.8); font-weight: 700;}
.cartTotal button{background: #fcf5f1 !important;}
.cartTotal button svg{color: #fa5230 !important;}
.cartTotal .count{position: absolute; top: -6px; right: -4px; background: #fa5230; border-radius: 50%; color: #fff; width: 20px; height: 20px;}

.locModal .MuiPaper-elevation{padding: 25px; position: relative;}
.locModal .locationList{ margin-bottom: 0px; max-height: 400px; overflow-y: scroll; overflow-x: hidden;}
.locModal .locationList li{width: 100%; list-style: none;}
.locModal .locationList li button{width: 100%; text-transform: capitalize !important; color: #000 !important; justify-content: flex-start !important; padding: 10px 20px;}

.locModal .locationList li button:hover{background: #f1f1f1;}
.locModal .locationList li button.active{background: #e2e2e2 !important;}

.locModal .closeB{position: absolute; top: 10px; right: 10px; color: #000 !important; min-width: 40px !important; width: 40px !important; height: 40px !important; border-radius: 50% !important;}
.locModal .closeB svg{font-size: 22px;}



nav .nav1{max-width: 20%; flex: 0 0 20%;}
nav .nav2{max-width: 80%; flex: 0 0 80%;}

nav .nav1 .catFill{position: relative;}
nav .nav1 .catFill .subsideNav{width: 100%; height: 0px; opacity: 0; background: #fff; position: absolute; top: 136%; left: 0px; border: 1px solid rgba(0,0,0,0.1); padding: 15px 0px; transition: all 0.2s; visibility: hidden; z-index: 100;}

nav .nav1 .catFill .subsideNav.open{height: auto; opacity: 1; visibility: inherit;}

nav .nav1 .catFill .subsideNav ul li{width: 100%; list-style: none; padding: 0px 15px; }
nav .nav1 .catFill .subsideNav ul li button{color: #000; width: 100%; justify-content: flex-start !important; text-transform: capitalize !important;}

nav .allCat{background: #73da4c; padding: 10px 15px !important; border-radius: 25px !important;}
nav .allCat *{color: #fff;}
nav .allCat:hover{background: #73da4c;}
nav .allCat .text{font-weight: 600; font-size: 14px;}

nav .allCat .icon1 svg{font-size: 20px !important;}
nav .allCat .icon2 svg{font-size: 15px !important;}

nav .nav2 ul{margin-bottom: 0px;}
nav .nav2 ul li a{text-decoration: none;}
nav .nav2 ul li a button{font-size: 14px !important; font-weight: 600; text-decoration: none; color: rgba(0,0,0,0.6); text-transform: uppercase; display: flex; align-items: center; padding: 8px 15px; transition: all 0.2s ease-in-out; border-radius: 25px;}
nav .nav2 ul li a svg{font-size: 20px;}

nav .nav2 ul li a:hover{background: #eafce3; color: #73da4c;}

nav .nav2 ul li{position: relative; padding-bottom: 20px;}
nav .nav2 ul li .submenu{position: absolute; top: 150%; left: 0px; min-width: 200px; background: #fff; opacity: 0; visibility: hidden; transition: all 0.2s ease-in-out; z-index: 100;}
nav .nav2 ul li .submenu a{display: block; width: 100%;}
nav .nav2 ul li .submenu a button{width: 100%; justify-content: flex-start !important; border-radius: 0px !important; text-transform: capitalize; font-weight: 600 !important;}

nav .nav2 ul li .submenu a button:hover{background: #f1f1f1 !important;}

nav .nav2 ul li:hover .submenu{opacity:1; visibility: inherit; top: 100%;}

.homeBannerSection{position: relative; overflow: hidden;}
.homeBannerSection *{outline: none !important;}
.homeBannerSection .slick-arrow{position: absolute; top: 45%; z-index: 100; display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; background: #5a5959; border-radius: 100%; font-family: FontAwesome !important; font-weight: bold;}
.homeBannerSection .slick-arrow.slick-next{right: 25px !important;}
.homeBannerSection .slick-arrow.slick-prev{left: 25px !important;}

.homeBannerSection .slick-arrow.slick-next::before{font-family: FontAwesome; color: #fff;}
.homeBannerSection .slick-arrow.slick-prev::before{font-family: FontAwesome; color: #fff;}